@import "tailwindcss";

/* Adjustments of Profile Icon Clerk */
.cl-avatarBox {
    width: 3rem;
    height: 3rem;
}

/* Swiper Arrows Button Customization */
:root {
  --swiper-navigation-size: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: 900 !important;
  line-height: 1 !important;
}

/* Filter Section input color */
input {
  background-color: #fff;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;
}